@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row.flex-grow-1 {
    flex: 1;
    // height: 100vh;
}

.sidebar {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 0;
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: #000;
}

.sidebar .nav-link:hover {
    color: #007bff;
}

.overflow-auto {
    overflow: auto;
}